@import "../variables/variables";

.parrafo-lista{
    text-align: $center;
    font-size: $size;
    color: $blanco;
    background: $fondo;
    padding: 50px 200px 50px 200px;
    margin: 5px;
}





